@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components.Renderers

<div class="custom-node @(Node.Selected ? "selected" : "")" style="position: relative; display: inline-block; margin:0 10px; vertical-align: top;">
    <Card Bordered="false" Title=@($"🚀{Node.Title}") Style="width: 150px">
        <Body>
            流程开始
        </Body>
    </Card>
</div>

@code {
    [Parameter]
    public StartNode Node { get; set; } = null!;

    public class StartNode : NodeModel
    {
        public StartNode(string id,Blazor.Diagrams.Core.Geometry.Point? position = null) : base(id,position)
        {
            Size = new Size(200, 150);
            AddPort(PortAlignment.Right);
        }
        public string Title { get; set; } = "开始";
    }
}
